.radio__item {
  border-radius: 50%;
  border: 0;
  padding: 0;
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #d9d9d9;
  margin: 20px 0 0;
  box-sizing: border-box;
}
&:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .radio__item {
    display: none;
  }
}