.lead {
  margin: 70px auto 94px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .lead {
    margin-bottom: 70px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .lead {
    margin-bottom: 120px;
    margin-top: 60px;
    column-gap: 20px;
    max-width: 1440px;
    grid-template-columns: repeat(2, minmax(1fr, 540px));
  }
}
