.radio__check {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0 0 0 0);
  border: 0;
  box-sizing: border-box;
  background: #d9d9d9;
}
.radio__check:checked + .radio__item {
  background: #212121;
  transition: background-color 0.3s;
}
